.places {
  display: flex;
  flex-direction: column;
  padding: 92px 148px 0;
  gap: 80px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}
@media screen and (max-width: 1230px) {
  .places {
    padding: 92px 48px 0;
  }
}
@media screen and (max-width: 900px) {
  .places {
    padding: 88px 24px 0;
    gap: 73px;
  }
}
@media screen and (max-width: 660px) {
  .places {
    gap: 50px;
    padding: 64px 0 0;
  }
}
