.places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 92px 148px 0;
  gap: 80px;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}
@media screen and (max-width: 1024px) {
  .places {
    padding: 92px 48px 0;
  }
}
@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 0;
    gap: 73px;
  }
}
@media screen and (max-width: 480px) {
  .places {
    justify-items: flex-start;
    gap: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}
