.page {
  background-color: #2A2C2F;
  min-width: 320px;
  max-width: 1280px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.page__no-scroll {
  overflow: hidden;
}

.header {
  margin: 0;
  padding: 28px 48px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
}

.header__image {
  display: flex;
  width: 176px;
  height: 52px;
}

.header__links {
  display: flex;
  gap: 18px;
  align-items: flex-end;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.header__lang-link {
  width: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* 116.667% */
  text-align: right;
  text-decoration-line: none;
  color: #FFF;
  transition: opacity 0.5s;
}

.header__lang-link:hover {
  opacity: 0.5;
}

.page__content {
  margin: 56px 0 92px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 92px;
  width: 100%;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 148px 0;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
}

.lead__title {
  margin: 0;
  max-width: 720px;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  /* 104.167% */
}

.lead__subtitle {
  margin: 32px 0 0;
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 120% */
}

.lead__figure {
  margin: 0;
  padding: 0;
}

.lead__image {
  margin: 64px 0 0;
  max-height: 615px;
  object-fit: cover;
  display: block;
}

.lead__caption {
  padding: 8px 0 0 0;
  align-self: flex-start;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 148px;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
}

.intro__title {
  margin: 0;
  max-width: 690px;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  /* 107.407% */
  text-align: left;
}

.intro__text {
  margin: 40px 0 0;
  max-width: 690px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  /* 26.08px */
}

.intro__list {
  margin: 33px 0 0;
  padding: 0;
  list-style-type: none;
  max-width: 690px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  /* 150% */
}

.intro__digit {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-sizing: border-box;
  gap: 16px;
  padding: 0px 48px 0;
  width: 100%;
  justify-items: center;
}

.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
  min-width: 284px;
  min-height: 213px;
  box-sizing: border-box;
  margin: 0;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-grid__item:hover {
  transform: scale(1.1);
  /* Увеличение размера на 10% */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.places {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 148px 0;
  gap: 80px;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
  justify-items: center;
}

.place {
  display: grid;
  width: 100%;
  grid-template-columns: 460px 484px;
  grid-template-rows: 1fr 460px;
  box-sizing: border-box;
  gap: 48px 40px;
}

.place__title {
  margin: 0;
  max-width: 460px;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  /* 105.556% */
  justify-self: left;
}

.place__website {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: flex-end;
}

.place__url-heading {
  margin: 0;
  font-style: normal;
  color: #AAA;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  /* 20.4px */
  letter-spacing: 2px;
}

.place__link {
  margin: 0;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 122.222% */
  text-decoration-line: underline;
  transition: opacity 0.5s;
}

.place__link:hover {
  opacity: 0.5;
}

.place__image {
  width: 100%;
  object-fit: contain;
}

.place__paragraph {
  margin: 0 0 26px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  /* 29.34px */
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

.cover {
  display: flex;
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  flex-direction: column;
  background-image: url(./sprint-3-images/sprint-3-images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 48px;
  margin: 0 auto;
  color: #FFF;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover:hover:before {
  background-color: rgba(42, 44, 47, 0.8);
}

.cover__title {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  /* 105.556% */
  margin: 0;
  max-width: 560px;
  z-index: 2;
}

.cover__subtitle {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 122.222% */
  margin: 0;
  max-width: 360px;
  z-index: 2;
}

.footer {
  margin: 0;
  padding: 0 48px 24px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #FFF;
}

.footer__links {
  display: flex;
  gap: 18px;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.footer__link {
  margin: 0;
  min-width: 50px;
  max-width: 106px;
  color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 112.5% */
  text-decoration: none;
  transition: opacity 0.5s;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__copyright {
  margin: 0;
  color: #FFF;
  text-align: right;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 114.286% */
  text-align: end;
}


/*  актуальная версия @font-face:
@font-face {

  font-family: "Open Sans";
  src: url("opensans.woff2") format('woff2');

}*/