.intro__list {
  margin: 33px 0 0;
  padding: 0;
  list-style-type: none;
  max-width: 690px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
@media screen and (max-width: 768px) {
  .intro__list {
    margin: 34px 0 0;
  }
}