.page__content {
  padding: 56px 0 0;
}
@media screen and (max-width: 1024px) {
  .page__content {
    padding: 48px 0 0;
  }
}
@media screen and (max-width: 480px) {
  .page__content {
    padding: 48px 0 64px;
  }
}
