.header {
  margin: 0;
  padding: 28px 48px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}
@media screen and (max-width: 768px) {
    .header {
        padding: 28px 24px 0;
      }
}
@media screen and (max-width: 480px) {
    .header {
      padding: 0 16px 0;
      }
}