.content {
  width: 100%;
}
/*@media screen and (max-width: 768px) {
  .content {
    row-gap: 88px;
  }
}
@media screen and (max-width: 480px) {
  .content {
    row-gap: 64px;
    align-items: flex-start;
  }
}*/
