.lead__title {
  margin: 0;
  max-width: 720px;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
}
@media screen and (max-width: 690px) {
  .lead__title {
    font-size: 80px;
  }
}
@media screen and (max-width: 576px) {
  .lead__title {
    font-size: 65px;
  }
}
@media screen and (max-width: 480px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
