.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 92px;
  padding-left: 148px;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}
@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
      }
}
@media screen and (max-width: 768px) {
    .intro {
      padding: 88px 24px 0;
      }
}
@media screen and (max-width: 480px) {
    .intro {
        padding: 64px 16px 0;
      }
}