.footer {
  margin: 0 auto;
  padding: 92px 48px 24px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
  }
}
@media screen and (max-width: 697px) {
  .footer {
    flex-direction: column;
    padding: 64px 16px 24px;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 0 16px;
    align-items: flex-start;
  }
}
